@import url('https://fonts.googleapis.com/css?family=Pavanam');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  font-family: 'Pavanam', sans-serif;
}

#martini {
  font-family: 'Permanent Marker', cursive;

}

.App {
  text-align: center;
}

.testing {
text-decoration-line: underline;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#newLoc_form{
  text-align: right;
  padding-right: 10px;
}
